html{
    margin: 0 auto;
    padding: 0 auto;
    height: 100%;
}
/***********Opmaak***********/
body{
    background: linear-gradient(#396039, #5fa05f);
    background-repeat: no-repeat;
}
header h1{
    text-align: center;
}
.navbar-default{
    display: flex;
    justify-content:space-around;
}
.container{
    border: 2px solid #5fa05f;
    background-color: #98fb98;
}
.section1{
    height: 384px;
    float: left;
    width: 55%;
    border: 2px solid #5fa05f;
    margin-bottom: 10px;
    display: flex;
    justify-content:center;
}
h3{
     text-align: center;
     height: 30px;
 }
.sectioninhoud{
      width: 50%;
  }
/**************Resultaten invoer*********************/

.teamselect{
    height: 80px;
    display: flex;
    justify-content:space-around;
}
select{
    height: 30px;
    width: 100px;
}
.aantalgoals{
    display: flex;
    justify-content:space-around;
    height: 80px;
}
.aantalgoals input{
    height: 60px;
    width: 60px;
}
.scoorderselect{
    height: 80px;
    display: flex;
    justify-content:space-between;
}
.scoorderselect input{
    height: 30px;
    width: 40px;
}
#resultaatsubmit{
    display: flex;
    justify-content:center;
}
.submitoverzicht{
    height: 80px;
    display: flex;
    justify-content:center;
}
.submitoverzicht input{
    height: 40px;
    width: 60px;
}
/*************** onderste tijd schema**************/
.schemasection{
    float: left;
    width: 55%;
    border: 2px solid #5fa05f;
    margin-bottom: 10px;
}
.tijdschema{
    height: 150px;
    text-align: center;
}
table{
    margin-left: 15px;
}
table td{
    border: 2px solid #5fa05f;
}
/*************** poulestanden rechts**************/
.poulestandsection{
    float: right;
    width: 43%;
    border: 2px solid #5fa05f;
    padding-bottom:20px;
    height: 384px;
}
.poulestanden table{
    border: 2px solid #5fa05f;
}
.poulestanden td{
    border-style: none;
}
/************* topscoorder rechts onder**************/
.topscoorder{
    height: 174px;
    border: 2px solid #5fa05f;
    width: 43%;
    float: right;
}
.topscoorder h2,h3,h4,h5{
    display: flex;
    justify-content: center;
}
/**************** resultaten.php*******************/
.resultaten{
    display: flex;
    flex-direction: column;
}
.resultaattable{
    margin-left: 60px;
}
.resultaattable input{
    margin-bottom: 5px;
}
.resultaattable td{
    border-style: none;
}
.resultatenrij{
    display: flex;
    justify-content:space-around;
}
.resultaatscore{
    display: flex;
    justify-content:center;
}
.resultaatscore{
    width: 20%;
}
.resultaatteam{
    width: 40%;
}
/****************toernooioverzicht.php******************/
#pouleresultaten{
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin-bottom: 10px;
    padding: 0;
    border-top: 0px;
}
.pouleresultatentitel h2{
    margin-bottom: 0;
    text-align: center;
    border: 2px solid #5fa05f;
    border-bottom: 0px;
}
#pouleresultaten table{
    width: 93%;
    margin-bottom:10px;
}
.resultatenlinks{
    text-align: center;
    width: 40%;
}
.resultatenrechts{
    text-align: center;
    width: 40%;
}
/********** toernooi overzicht**********/
#toernooilayout{
    width: 100%;
    text-align: center;
}
.groepsfase{
    display: flex;
    justify-content:space-between;
    margin-bottom: 3%;
}
.kwartfinales{
    margin-left: 5%;
    width: 90%;
    display: flex;
    justify-content:space-around;
    margin-bottom: 3%;
}
.halvefinales{
    display: flex;
    justify-content:space-around;
    margin-bottom: 3%;
}
.finale{
    display: flex;
    justify-content:space-around;
    margin-top: 3%;
    margin-bottom: 3%;
}
.winnaar{
    display: flex;
    justify-content:space-around;
    margin:3% 0 3% 0;
}
.teams{
    width: 40%;
    display: flex;
    justify-content:space-around;
    text-align: center;
}
.teams p{
    margin-top: 7px;
}
.groepen{
    display: flex;
    justify-content:space-around;
    width: 20%;
    border: 1px solid black;
}
.wedstrijd{
    display: flex;
    justify-content:space-around;
    width: 10%;
    border:1px solid black;
}
/********** teams en speler invoer **********/
#teaminvoer{
    width: 100%;
    display: flex;
    justify-content:space-around;
    padding: 6% 0;
    margin-bottom:1%;
}
.form-group input{
    width:50%;
}
.teamnaam{
    width: 30%;
}
.teamnaam ul li{
    list-style-type: none;
}
.spelerinvoer{
    width: 30%;
    display: flex;
    flex-direction:column;
}
.spelerinvoer select{
    margin:2% 0;
}
#teaminvoer form{
    margin:1% 0;
}
.invoerbutton{
    width: 10%;
}
.invoerbutton button{
    margin:1% 0;
}