/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.buffer{
    clear: both;
}

li{
    list-style: none;
}

ul{
    padding: 0;
    margin-top: 10px;
}

html{
    background: #5fa05f;
}

body{
    background: #396039; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#396039, #5fa05f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#396039, #5fa05f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#396039, #5fa05f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#396039, #5fa05f); /* Standard syntax */
    background-repeat: no-repeat;
    height: 100%;
    min-height: 100%;
}

.page-header{
    background-color: #98fb98;
    margin: 0;
    margin-bottom: 5px;
    border: 2px solid #5fa05f;
}

.page-header .nav{
    margin-top: 5px;
}

.title{
    text-align: center;
}

.par{
    text-align: center;
}

.main-content{
    background-color: #98fb98;
    padding: 10px;
    border: 2px solid #5fa05f;
    margin-bottom: 10px;
}

.input-group{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    width: 170px;
}

.nav{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
}

input{
    padding: 3px;
    border-radius: 5px;
}

/*********** main style *****************/
.main-content *{
    border-radius: 5px;
}
.overzicht h3, .containder#overzichtinhoud h3{
    width: 500px;
    display: flex;
    justify-content: center;
}
.main-content#invoeren_resultaten, .main-content#resultaten{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
}
.container#overzichtinhoud, .container#poulestanden{
    padding: 0;
    width: 500px;
}
input#submitoverzicht.btn.btn-primary{
    margin: 0;
}
#overzichtinhoud{
    border-style: none;
    margin-bottom: 10px;
    float: left;
}
#poulestanden{
    border-style: none;
    margin-bottom: 10px;
    float: left;
}
.resultatenoverzicht{
    width: 500px;
    border-style: solid;
    border-width: 2px;
}
.teamselect{
    margin-top: 40px;
    display: flex;
    justify-content:space-around;
}
.aantalgoals{
    height: 140px;
    display: flex;
    justify-content:space-around;
}
.aantalgoals p{
    display: flex;
    justify-content:center;
}
.aantalgoals input{
    height: 80px;
    width: 80px;
}
input[type='text'].a_goals{
    font-size: 63px;
}
.scoorderselect{
    display: flex;
    justify-content: space-around;
}
#scoorderbutton{
    width: 60px;
    height: 25px;
}
.submitoverzicht{
    display: flex;
    justify-content: center;
}
#submitoverzicht{
    margin-bottom: 40px;
}
.tijdschema{
    margin: 10px 0 0 0;
    width: 500px;
    border-style: solid;
    border-width: 2px;
}
.tijdschema#resultaten{
    margin: 0;
}
.tijdschema h3, .poulestanden h3{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
}
.tijdschema .content, .poulestanden .content{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0;
}
.pouletitel, .overzichttitel{
    display: flex;
    justify-content:center;
    width: 500px;
    margin-right: 0px;
}
.poulestanden{
    border-style: solid;
    border-width: 2px;
    width: 500px;
    float: right;
}
.topscoorder{
    margin-top:10px;
    border-style: solid;
    border-width: 2px;
    width: 500px;
    float: right;
}
.topscoorder h1{
    display: flex;
    justify-content:center;
}
.topscoorder h2{
    display: flex;
    justify-content:center;
}
.topscoorder h3{
    display: flex;
    justify-content:center;
}
.topscoorder h4{
    display: flex;
    justify-content:center;
}

/*********** invoeren_resultaten.php *****************/














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
